---
import type { ProjecteT } from '../../lib/types';

interface Props {
  projectes: ProjecteT[];
}
const { projectes } = Astro.props;
---

<section id='projectes' class='flex flex-col gap-12 md:px-20'>
  <div class='flex-1 text-center'>
    <h2 class='text-5xl py-4'>Projectes</h2>
    <p class='text-3xl font-extralight py-0'>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, ad.
    </p>
  </div>
  <div class='flex flex-col gap-8 md:px-8'>
    {
      projectes.map(({ titol, descripcio, src, alt }, index) => (
        <div class='bg-slate-800 rounded-xl px-16 py-12 '>
          <div class='flex flex-col xl:flex-row gap-16'>
            <img
              class={`${
                index % 2 === 0 ? 'xl:order-1' : 'xl:order-0'
              } w-80 mx-auto`}
              src={src}
              alt={alt}
            />{' '}
            <div>
              <h4 class='text-start text-3xl font-semibold py-4'>{titol}</h4>
              <p class='text-lg font-extralight ps-4 py-2'>{descripcio}</p>
              <div class='ps-4 py-4 flex gap-9'>
                <h5 class='text-lg font-semibold'>Lorem ipsum dolor sit:</h5>
                <ul class='flex gap-6'>
                  {projectes[index].claus.map((clau) => (
                    <li class='pt-1 font-extralight capitalize'>{clau}</li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
