---
import Layout from '../layouts/Layout.astro';
import Presentacio from '../components/Presentacio.astro';
import Info from '../components/Info.astro';
import Caracteristiques from '../components/Caracteristiques.astro';
import Projectes from '../components/Projectes.astro';
import Nosaltres from '../components/Nosaltres.astro';

import {
  enllaços,
  imatges,
  info,
  projectes,
  caracteristiques,
  nosaltres,
} from '../lib/data/contingutWeb.ts';
---

<Layout titol='Astro SLP'>
  <div class='flex flex-col gap-y-28 md:gap-y-18'>
    <Presentacio imatge={imatges[0]} />
    <Info info={info} imatge={imatges[1]} />
    <Caracteristiques caracteristiques={caracteristiques} />
    <Projectes projectes={projectes} />
    <Nosaltres nosaltres={nosaltres} />
  </div>
</Layout>
