---
import type { contacteT, xsT } from '../lib/types';
import logo from '../assets/img/logo-preview2.webp';

interface Props {
  contacte: contacteT;
  xxss: xsT[];
}
const { contacte, xxss } = Astro.props;
const { nom, correu, telefon, adreça, codi, poblacio } = contacte;
const imatgeLogo: string = logo.src;
---

<div
  class='w-full bg-slate-800 py-12 px-16 mt-12 border-t-2 border-b-zinc-400 flex justify-center gap-20 sm:gap-80 md:gap-96 lg:gap-40 xl:gap-60'>
  <ul class='font-thin xl:flex xl:place-items-start xl:gap-20 xl:pt-6'>
    <li class='text-xl font-semibold mb-3 lg:text-center xl:text-start'>{nom}</li>
    <div class='flex flex-col lg:place-items-center lg:flex-row gap-3 lg:gap-20 text-lg'>
      <div>
        <li>{correu}</li>
        <li>{telefon}</li>
      </div>
      <div class='flex flex-col gap-1 text-sm'>
        <li>{adreça}</li>
        <li>
          {codi} - {poblacio}
        </li>
      </div>
    </div>
  </ul>

  <div
    class='flex flex-col lg:flex-row lg:gap-24 justify-between place-items-center'>
    <div class='lg:order-1 flex flex-col'>
      <img class='w-24' src={imatgeLogo} alt='Logo' />
      <h3 class='text-lg font-bold uppercase'>
        Astro <span class='font-thin'>SLP</span>
      </h3>
    </div>
    <ul class='flex gap-4 md:gap-8 pb-1 lg:pb-2'>
      {
        xxss.map(({ src, nom }) => (
          <li>
            <a href='#' class='filtre-sky'>
              <img class='w-7 filtre-xs' src={src} alt={nom} title={nom} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .filtre-xs {
    filter: invert(73%) sepia(99%) saturate(7%) hue-rotate(218deg)
      brightness(95%) contrast(97%);
  }

  a:hover {
    filter: invert(77%) sepia(28%) saturate(6519%) hue-rotate(166deg)
      brightness(100%) contrast(95%);
  }
</style>
