---
import type { imatgeT, infoT } from '../lib/types';

const { imatge } = Astro.props;
const { src, alt } = imatge;

interface Props {
  imatge: imatgeT;
  info: infoT[];
}
const { info } = Astro.props;
---

<section id='mesInfo' class='flex flex-col gap-12 md:flex-row md:px-8 lg:px-20'>
  <div class='flex-1 flex flex-col gap-6 justify-center md:order-1 text-center'>
    <h2 class='text-5xl py-4'>Informació</h2>
    <p class='text-2xl md:text-2xl font-thin py-4'>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, ad.
    </p>
    <img class='w-60 mx-auto pt-4' src={src} alt={alt} />
  </div>
  <div class='flex-auto grid grid-cols-1 lg:grid-cols-2 gap-8'>
    {
      info.map(({ src, text }, index) => (
        <div class='flex flex-col justify-between gap-10 bg-slate-800 rounded-xl p-10 pb-4'>
          <img class={`${index === 1 || index === 2 ? 'w-80' : 'w-60'} h-60 mx-auto`} src={src} alt={alt} />
          <p class='text-center font-semibold '>{text}</p>
        </div>
      ))
    }
  </div>
</section>
