---
import { Header } from '../components/header';
import { Footer } from '../components';
import { contacte, enllaços, xxss } from '../lib/data/contingutWeb';
import { fletxa } from '../assets/svg';

interface Props {
  titol: string;
}
const { titol } = Astro.props;
const inici = enllaços[0];
const { url } = inici;
const fletxaAmunt = fletxa.src;
console.info('Càrrega Layout');
---

<!doctype html>
<html lang='ca'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='../../public/1553263.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>

  <body class='min-h-screen bg-zinc-900 text-zinc-50 tracking-wide'>
    <div class='container mx-auto'>
      <header class='alçada-header' id='inici'>
        <Header enllaços={enllaços} />
      </header>
      <main class='px-4'>
        <slot />
      </main>
      <footer>
        <Footer contacte={contacte} xxss={xxss} />
      </footer>
      <div class='sticky bottom-16 flex place-content-end mr-8'>
        <a href={`#${url}`}
          ><button class='p-2 bg-zinc-600 rounded-full opacity-6'
            ><img src={fletxaAmunt} alt='fletxa amunt' /></button
          ></a
        >
      </div>
    </div>

    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      @font-face {
        font-family: 'poppins-regular';
        src: url('../assets/fonts/Poppins-Regular.ttf');
        font-display: swap;
      }

      @font-face {
        font-family: 'poppins-thin';
        src: url('../assets/fonts/Poppins-ExtraLight.ttf');
        font-display: swap;
      }

      @font-face {
        font-family: 'inter-regular';
        src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf')
          format('truetype');
        font-display: swap;
      }

      html {
        scroll-behavior: smooth;
        font-size: 75%;
      }

      body {
        font-family: 'inter-regular', sans-serif;
      }

      h1,
      h2,
      h4,
      h5,
      a {
        font-family: 'poppins-regular', sans-serif;
      }

      .logo {
        font-family: 'poppins-thin', sans-serif;
      }
      @media (min-width: 350px) {
        .alçada-header {
          height: 425px;
        }
        section {
          scroll-margin-top: 425px;
        }
      }
      @media (min-width: 420px) {
        .alçada-header {
          height: 400px;
        }
        section {
          scroll-margin-top: 400px;
        }
      }

      @media (min-width: 640px) {
        .alçada-header {
          height: 365px;
        }
        section {
          scroll-margin-top: 365px;
        }
      }
      
      @media (min-width: 1024px) {
        .alçada-header {
          height: 235px;
        }
        section {
          scroll-margin-top: 235px;
        }
      }

    </style>
  </body>
</html>
